<p id="notice"><%= notice %></p>

<p>
  <strong>State:</strong>
  <%= @state.state %>
</p>

<p>
  <strong>State2:</strong>
  <%= @state.state2 %>
</p>

<%= link_to 'Edit', edit_state_path(@state) %> |
<%= link_to 'Back', states_path %>
