<h1>Listing food_features</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Descr</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @food_features.each do |food_feature| %>
      <tr>
        <td><%= food_feature.name %></td>
        <td><%= food_feature.descr %></td>
        <td><%= link_to 'Show', food_feature %></td>
        <td><%= link_to 'Edit', edit_food_feature_path(food_feature) %></td>
        <td><%= link_to 'Destroy', food_feature, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Food feature', new_food_feature_path %>
