<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @food_feature.name %>
</p>

<p>
  <strong>Descr:</strong>
  <%= @food_feature.descr %>
</p>

<%= link_to 'Edit', edit_food_feature_path(@food_feature) %> |
<%= link_to 'Back', food_features_path %>
