<h1>Listing products</h1>

<table>
  <thead>
    <tr>
      <th>Sku</th>
      <th>Upc</th>
      <th>Brand</th>
      <th>Descr</th>
      <th>Qty desc</th>
      <th>Min qty weight</th>
      <th>Image</th>
      <th>Category</th>
      <th>Sub category</th>
      <th>Sub category group</th>
      <th>Uofm</th>
      <th>Price</th>
      <th>Sale price</th>
      <th>On sale</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.sku %></td>
        <td><%= product.upc %></td>
        <td><%= product.brand %></td>
        <td><%= product.descr %></td>
        <td><%= product.qty_desc %></td>
        <td><%= product.min_qty_weight %></td>
        <td><%= product.image %></td>
        <td><%= product.category %></td>
        <td><%= product.sub_category %></td>
        <td><%= product.sub_category_group %></td>
        <td><%= product.uofm %></td>
        <td><%= product.price %></td>
        <td><%= product.sale_price %></td>
        <td><%= product.on_sale %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>
