<h2> <%= @shopping_header %></h2>

<%= form_tag store_path, class: 'show_product_images' do %>
	<%= label_tag 'set_show_product_images', 'Show Product Images' %>
	<%= check_box_tag 'set_show_product_images', 		#if @show_product_images then 1 else 0 end
		1, @show_product_images,
		onclick: 'this.form.submit()'
	%>
	<%= hidden_field_tag 'set_show_product_images_hidden', 0 %>
	<%= submit_tag 'submit', class: 'submit_only' %>
	<%= javascript_tag "$('.show_product_images .submit_only').hide()" %>
<% end %>
<br>

<table>
	<tr class="top_line">
		<% if @show_product_images %>
			<th></th>
		<% end %>
		<th class="left_justify">Brand - Description (Quantity)</th>
		<th></th>
		<th class="right_justify">Min Weight</th>
		<th class="right_justify">Price</th>
		<th>Unit</th>
		<th></th>
	</tr>
	
	<% if not @products.nil? %>
		<% @products.each do |product| %>
			<tr class="<%= cycle('list_line_odd', 'list_line_even', name: 'products') %>">
				<% if @show_product_images %>
					<td><%= image_tag(product.image, class: 'list_image') %></td>
				<% end %>
				
				<% this_item = product.brand %>
				<% if product.brand.size > 0 %>
					<% this_item += " - " %>
				<% end %>
				<% this_item += sanitize(product.descr) %> 
				<% this_item += " (" + product.qty_desc + ")" %>
				<% this_item_title = this_item + " - #{product.category}/#{product.sub_category}/#{product.sub_category_group}"%>
				<td class="short_brand_descr" title="<%= this_item_title %>">
					<%= this_item %>
				</td>
				
				<% if @cur_top_level == "My Items" %>
					<td style="width: 3em;"><%= link_to "Remove from My Items", controller: "store", remove_from_my_items: product.id %></td>
				<% else %>
					<td style="width: 3em;"><%= link_to "Add to My Items", controller: "store", add_to_my_items: product.id %></td>
				<% end %>
				
				<td class="right_justify"><%= product.min_qty_weight %> </td>
				<td class="right_justify bold"><%= number_to_currency(product.price) %></td>
				<td><%= product.uofm %></td>
				<td style="width: 3em;"><%= link_to "Add to List", controller: "store", add_to_list: product.id %></td>
			</tr>
		<% end %>
	<% end %>
</table>
