	<div id="left_food_feature">
	<%= form_tag store_path, remote: true, class: 'food_features' do %>
		<%= label_tag 'set_food_feature', 'Food Features' %>
		<%= select_tag 'set_food_feature', 
			options_for_select(@food_features, @cur_food_feature),
			# onchange: 'this.form.submit()',
			title: "Click to show all food features",
			style: "width: 150px",
			data: {remote: true, url: "/store/index" }
		%>
		<!-- <%= submit_tag 'submit', remote: true %>
		<%= javascript_tag "$('.food_features input').hide()" %> -->
		<br><span style="font-size: small;">(click to show)</span>
	<% end %>	
	</div>