	<div id="left_items">
	<ul>
		<% @top_levels.each do |top_level| %>			
			<% if top_level == "All Items" %>
				<li style="margin-bottom: 5px;"> <%= link_to top_level, controller: "store", top_level: top_level, remote: true %></li>
			<% else %>
				<li style="margin-bottom: 15px;"> <%= link_to top_level, controller: "store", top_level: top_level, remote: true %></li>
			<% end %>
			
			<% if top_level == "All Items" %>
				<% @categories.each do |category| %>
					<li><span style="margin-left: 15px;"/><%= link_to category, controller: "store", category: category, remote: true %></li>
					<% if category == @cur_category %>
						<% @sub_categories.each do |sub_category| %>
							<li><span style="margin-left: 30px;"/><%= link_to sub_category, controller: "store", sub_category: sub_category, remote: true %></li>
							<% if sub_category == @cur_sub_category %>
								<% if @sub_category_groups.size > 1 %>
									<% @sub_category_groups.each do |sub_category_group| %>
										<% if sub_category_group.size > 0 %>									
											<li><span style="margin-left: 45px;"/><%= link_to sub_category_group, controller: "store", sub_category_group: sub_category_group, remote: true %></li>
										<% else %>
											<li><span style="margin-left: 45px;"/><%= link_to sub_category, controller: "store", sub_category_group: "", remote: true %></li>
										<% end %>
									<% end %>
								<% end %>
							<% end %>
						<% end %>
					<% end %>
				<% end %>
			<% end %>
		<% end %>
	</ul>
	</div>
