	<fieldset style="border-width: 1px;"> 
	<legend style="font-weight: bold">Your Shopping Lists</legend>

	
	<%= form_tag store_path, class: 'customer_shopping_list' do %>
		<%= label_tag 'set_customer_shopping_list_name', 'Customer Shopping Lists:' %>
		<%= select_tag 'set_customer_shopping_list_name', 
			options_for_select(@customer_shopping_lists, @cur_shopping_list),
			onchange: 'this.form.submit()',
			title: "Click to show all shopping lists"
		%>
		<span style="font-size: small;">(click to show)</span>
		<%= submit_tag 'submit' %>
		<%= javascript_tag "$('.customer_shopping_list input').hide()" %>
	<% end %>
	<br>
	
	<%= form_tag store_path, class: 'shopping_list_name' do %>
		<%= label_tag 'shopping_list_name', 'Shopping List Name:'%>
		<span style="margin-left: 10px;"></span>
		<%= text_field_tag 'shopping_list_name', @cur_shopping_list, class: "shopping_list_text", 
			title: "Shopping list name to be used when creating, renaming, copying, or merging shopping lists" %>
		<%= submit_tag "Create", controller: "store", 
			title: "Enter shopping list name into 'Shopping List Name' field to left and press this button" + 
				" to create a new (empty) shopping list"  %>
		<%= submit_tag "Rename", controller: "store", 
			title: "Enter shopping list name into 'Shopping List Name' field to left and press this button" + 
				" to rename the current shopping list"  %>
		<%= submit_tag "Copy", controller: "store", 
			title: "Enter new shopping list name into 'Shopping List Name' field to left and press this button" + 
				" to copy the current shopping list into this new shopping list"  %>
		<%= submit_tag "Merge", controller: "store", 
			title: "Enter shopping list name into 'Shopping List Name' field to left and press this button" + 
				" to merge the current shopping list into this shopping list"  %>
		<br>
		<%= label_tag 'Delete', 'Delete:'%>
		<span style="margin-left: 93px;"></span>
		<%= submit_tag "Delete", controller: "store", 
			title: "Press this button to delete the current shopping list"  %>
	<% end %>
	</fieldset>
