	<td style="width: 45%">
	<div id="rside">
		<br>

		<fieldset style="border: solid; color: #bfb; padding: 1em;">
			<legend style="font-size: medium;">Your Shopping Lists</legend>

		<%= form_tag store_path, class: 'customer_shopping_list' do %>
			<%= select_tag 'set_customer_shopping_list', 
				options_for_select(@customer_shopping_lists, @cur_shopping_list),
				onchange: 'this.form.submit()'
			%>
			<%= submit_tag 'submit' %>
			<%= javascript_tag "$('.customer_shopping_list input').hide()" %>
		<% end %>
		<br>

		<%= form_tag store_path, class: 'shopping_list_name' do %>
			<%= text_field_tag 'shopping_list_name', @cur_shopping_list %>
			<br>
			<%= submit_tag "Create New Shopping List", controller: "store" %>
			<%= submit_tag "Rename Current List", controller: "store" %>
			<%= submit_tag "Delete Current List", controller: "store" %>
		<% end %>
		</fieldset>
		<br>

		<ul><li><p>Your Shopping Items:</p></li></ul>
		<% if not @customer_shopping_list_items.nil? %>
			<table>
				<tr class="top_line">
					<th>Brand - Description (Quantity)</th>
					<th class="right_justify">Min Weight</th>
					<th class="right_justify">Price</th>
					<th>Unit</th>
					<th class="right_justify">Qty</th>
					<th class="right_justify"></th>
					<th class="right_justify">Sub-Total</th>
					<th>Note</th>
					<th></th>
				</tr>
			
				<% total = 0 %>
				<% @customer_shopping_list_items.each do |item| %>
					<% total += (item['price'] * item['quantity']) %>
					<tr class="<%= cycle('list_line_odd', 'list_line_even', name: 'items') %>">
						<td>
							<%= item['brand'] %>
							<% if item['brand'].size > 0 %>
							-
							<% end %>
							<%= sanitize(item['descr']) %> 
							(<%= item['qty_desc'] %>)
						</td>
						<td class="right_justify"><%= number_with_precision(item['min_qty_weight'], precision: 2) %> </td>
						<td class="right_justify"><%= number_to_currency(item['price']) %></td>
						<td><%= item['uofm'] %></td>
						<td class="right_justify"><%= item['quantity'] %></td>
												
						<td class="right_justify">
							<%= form_tag store_path do %>
								<span>
								<%= number_field_tag 'set_change_qty_' + item['id'].to_s, item['quantity'], in: 0.1..10, style: "width: 60px;" %>
								<%= submit_tag "Change", controller: "store" %>
								</span>
							<% end %>
						</td>					
						
						<td class="right_justify"><%= number_to_currency(item['price'] * item['quantity']) %></td>
						<td><%= item['note'] %></td>
						<td><%= link_to "Delete", controller: "store", delete_from_list: item['id'] %></td>
					</tr>
				<% end %>
				
				<tr class="top_line">
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td class="right_justify bold">Total</td>
					<td class="right_justify bold"><%= number_to_currency(total) %></td>
					<td></td>
					<td></td>
				</tr>				
			</table>				
		<% end %>
	</div>
	</td>
